<h5>Answer Definition</h5>

<EditForm Model="AnswerDto">
    <DataAnnotationsValidator />

    <div class="input-group">
        <input type="text" style='width:100%' required @bind-value="AnswerDto.AnswerText" @bind-value:event="oninput">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="hoverlabel">Answer</label>
    </div>

    <label>Is correct answer?</label>
    <InputCheckbox @bind-Value="AnswerDto.IsCorrect"></InputCheckbox>

    <ValidationSummary />
</EditForm>

@code {

    [Parameter]
    public AnswerDTO AnswerDto { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

}

