<h3>LectureComponent</h3>

   
    @code {

        [Parameter]
        public LectureDTO LectureDto { get; set; }

        public string Heading { get; set; }


        protected override void OnInitialized()
        {
            base.OnInitialized();


        }

    }
