@inject EditService EditService

@if (EditService.OnEditing)
{
    <h3>Pictures</h3><br />
    <EditForm Model="PictureContentDTO">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 text-center">
                <img src="@PictureContentDTO.Path" class="img-thumbnail"> <br /> <br />
                <InputFile OnChange="@OnInputFileChanged" style="margin-bottom: 1rem;" class="btn btn-outline-dark">
                </InputFile>
            </div>

        </div>
        <div class="form-floating">
            <textarea class="form-control" id="inputMessage" type="text" placeholder="Enter description here..."
            style="height: 10rem" @bind="PictureContentDTO.Description"></textarea>
        </div>
    </EditForm>

}
else
{
    <img src="@PictureContentDTO.Path" class=" img-thumbnail" allowfullscreen> <br />

    if (!String.IsNullOrEmpty(PictureContentDTO.Description))
    {
        <br />
        <h5 class="text-center"> <b>Picture Description</b></h5>
        <p class="text-center">@(PictureContentDTO.Description)</p><br />
    }
}
@code {
    [Parameter]
    public PictureContentDTO PictureContentDTO { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    {
        /*max upload size of the picture 1512 KB*/
        int maxSize = 1512000;
        /* get the file/image */
        var file = inputFileChangeEvent.File;
        /* read the file into a byte array */
        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxSize).ReadAsync(buffer);
        /* convert the file into a base64 string */
        PictureContentDTO.Path = $"data:image;base64,{Convert.ToBase64String(buffer)}";
    }
}
