<h3>Question</h3>
@{
    if (QuestionDto != null)
    {
    <EditForm Model="QuestionDto">
        <ObjectGraphDataAnnotationsValidator />
        <label>Question Text</label><br />
        <InputText @bind-Value="@QuestionDto.QuestionText" />
        @foreach (var p in QuestionDto.Pictures)
        {<hr />
            <PictureComponent PictureContentDTO="p"></PictureComponent><br />
            <button class="btn btn-light btn-sm" @onclick="() => RemovePicture(p)">Remove Picture</button>
        }
        <br />
        <button class="btn btn-light btn-sm my-3" @onclick="AddPicture">Add Picture</button>
        <br />

        @foreach (var a in QuestionDto.Answers)
        {<hr />
            <AnswerDefComponent AnswerDto="a"></AnswerDefComponent>
            <button class="btn btn-light btn-sm" @onclick="() => RemoveAnswer(a)">Remove Answer</button>
        }
        <ValidationSummary />
        <br />
        <button class="btn btn-light btn-sm my-3" @onclick="AddAnswer">Add Answer</button>
        <br />
        <label>Explanation</label><br />
        <InputText @bind-Value="@QuestionDto.Explanation" />

    </EditForm>
    }
    else
    {
        <label>Loading Question Definition ...</label>
    }
}

@code {

    [Parameter]
    public QuestionDTO QuestionDto { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        InitiQuestionDefintionDto();
    }

    private void InitiQuestionDefintionDto()
    {
        if (QuestionDto.Answers == null)
            QuestionDto.Answers = new List<AnswerDTO>();
        if (QuestionDto.Pictures == null)
            QuestionDto.Pictures = new List<PictureContentDTO>();
    }

    private void AddAnswer()
    {
        QuestionDto.Answers.Add(new AnswerDTO());
    }

    private void RemoveAnswer(AnswerDTO answer)
    {
        QuestionDto.Answers.Remove(answer);
    }

    private void AddPicture()
    {
        QuestionDto.Pictures.Add(new PictureContentDTO());
    }

    private void RemovePicture(PictureContentDTO pictureContentDto)
    {
        QuestionDto.Pictures.Remove(pictureContentDto);
    }

}


