<h3>Question</h3>
@{
    if (QuestionDto != null)
    {
    <EditForm Model="QuestionDto">

        <label>Question Text</label><br />
        <InputText @bind-Value="@QuestionDto.QuestionText" />

        @foreach (var a in QuestionDto.Answers)
        {<hr />
            <AnswerDefComponent AnswerDto="a"></AnswerDefComponent>
            <button class="btn btn-light btn-sm" @onclick="() => RemoveAnswer(a)">Remove Answer</button>
        }

        <button class="btn btn-light btn-sm my-3" @onclick="AddAnswer">Add Answer</button>
        <br/>
        <label>Explanation</label><br />
        <InputText @bind-Value="@QuestionDto.Explanation" />

    </EditForm>
    }
    else
    {
        <label>Loading Question Definition ...</label>
    }
}

@code {

    [Parameter]
    public QuestionDTO QuestionDto { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        InitiQuestionDefintionDto();
    }

    private void InitiQuestionDefintionDto()
    {
        if (QuestionDto.Answers == null)
            QuestionDto.Answers = new List<AnswerDTO>();
    }

    private void AddAnswer()
    {
        QuestionDto.Answers.Add(new AnswerDTO());
    }

    private void RemoveAnswer(AnswerDTO answer)
    {
        QuestionDto.Answers.Remove(answer);
    }

}


