co<h3>TestContent</h3>
@*<EditForm Model="TestContentDto">
    <DataAnnotationsValidator />
    <label>Link</label>
    <InputText @bind-Value="TestContentDto" />
    <label>Description:</label>
    <InputText @bind-Value="FurtherLinkDto.Description" />

    <ValidationSummary />
</EditForm>
    *@
@code {
    /* aufteilung auf Video und Bild. Bei Video mit Link. Bei Bild mit img-feld*/
    /*[Parameter]
    public TestContentDTO TestContentDto { get; set; }*/
    [Parameter]
    public VideoContentDTO VideoContentDto { get; set; }
    [Parameter]
    public PictureContentDTO PictureContentDto { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }

}