@using SEIIApp.Shared;

<h3>Video Content</h3>

<EditForm Model="VideoContentDTO">
    <DataAnnotationsValidator />

    @if (OnEditing)
    {
        <label>Video-Link</label>
        <InputText @bind-Value="VideoContentDTO.Path" />
        <p>
            Please extend the Url with the Video-Identifier<br />
            If the YouTube-Link of your Video looks like: <br />
            "https://www.youtube.com/watch?v=xxxxxxxx": xxxxxxxx is the Identifier. <br />
            "https://youtu.be/xxxxxxxx": xxxxxxxx is the Identifier.
        </p>
        <br />
    }

    @if (VideoContentDTO.Path != null && VideoContentDTO.Path.Length > "https://www.youtube.com/embed/".Length)
    {

        <iframe width="560" height="315" src="@VideoContentDTO.Path" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
    }

    @if (OnEditing)
    {
        <label>Description</label>
        <InputText @bind-Value="VideoContentDTO.Description"></InputText>
    }
    else
    {
        <p>@VideoContentDTO.Description</p>
        <p> not editing</p>
    }

    <ValidationSummary />
</EditForm>


@code {
    [Parameter]
    public VideoContentDTO VideoContentDTO { get; set; }

    public static bool OnEditing = true; // soll false sein

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }
}
