@using SEIIApp.Shared;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<h4>Videos</h4>

<EditForm Model="VideoContentDTO">

    <DataAnnotationsValidator />
   
    @if (OnEditing)
    {

        <div class="input-group">

            <input type="text" style='width:100%' required @bind-value="VideoContentDTO.Path" @bind-value:event="oninput">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="hoverlabel">Video-Link</label>
        </div>
    }

    @if (VideoContentDTO.Path != null)
    {
        @if (VideoContentDTO.Path.Contains("youtube.com/watch"))
        {
            VideoContentDTO.Path = VideoContentDTO.Path.Substring(VideoContentDTO.Path.IndexOf('=') + 1);
        }
        else if (VideoContentDTO.Path.Contains("https://youtu.be"))
        {
            VideoContentDTO.Path = VideoContentDTO.Path.Substring("https://youtu.be/".Length);
        }
        else if (VideoContentDTO.Path.Contains("youtube.com/embed"))
        {
            VideoContentDTO.Path = VideoContentDTO.Path.Substring("https://www.youtube.com/embed/".Length);
        }
        <div class="iframecontainer">
            <iframe class="responsive-iframe" src=@("https://www.youtube.com/embed/" + VideoContentDTO.Path) title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br />
        </div>
        <ValidationSummary/>
        
    }

    @if (OnEditing)
    {

        <div class="form-floating">
            <textarea class="form-control" id="inputMessage" type="text" placeholder="Enter description here..." style="height: 10rem" @bind="VideoContentDTO.Description"></textarea>
        </div>

    }
    else
    {
        <p>@VideoContentDTO.Description</p>
    }


</EditForm>


@code {
    [Parameter]
    public VideoContentDTO VideoContentDTO { get; set; }

    public static bool OnEditing = false; 

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
