@page "/edituser/{UserId:int}"
@inject Services.UserBackendAccessService UserService
@inject HttpClient Http
@inject NavigationManager navManager
@using SEIIApp.Shared;


@if (UserDTO != null)
{
    <!-- Alert-->
    if (triggerAlert)
    {
        <div class="alert-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>User has been changed successfully!</strong>
        </div>
        <!--END Alert-->
    }

    <!-- Edit User-->
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">User Editing: @UserDTO.Name</h4>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3">
                    <label>current firstname: @UserDTO.FirstName</label>
                    <div class="input-group">

                        <input class="rightMargin" type="text" style='width:100%' required @bind-value="inputFirstName" @bind-value:event="oninput">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="hoverlabel">new firstname</label>
                    </div>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label>current lastname: @UserDTO.LastName</label>
                    <div class="input-group">
                        <input class="rightMargin" type="text" style='width:100%' required @bind-value="inputLastName" @bind-value:event="oninput">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="hoverlabel">new lastname</label>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <select name="role" id="role" @bind-value="chosenOption" @bind-value:event="onchange">
                    <option value=0 selected>@UserDTO.Role</option>
                    <option value=1>Undefined</option>
                    <option value=2>Student</option>
                    <option value=3>Teacher</option>
                    <option value=4>Admin</option>
                </select>
            </div>
        </div>
        <!--END Edit User-->
        <!--Actionbuttons-->
        <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 save" @onclick="() => SaveRoleChangesOnUser(chosenOption)">Save Changes</button>
            <button class="btn btn-lg btn-cancel btn-block btn-cancel_frame text-uppercase font-weight-bold mb-2 cancel " @onclick="() => goBacktoUM()">Back</button>
        </div>
        <!--END Actionbuttons-->
    </div>
}
else
{
    <h2>Something went wrong.</h2>
}


@code {
    [Parameter]
    public int UserID { get; set; }

    public string inputFirstName { get; set; }

    public string inputLastName { get; set; }

    private int chosenOption { get; set; }

    private bool triggerAlert = false;

    public UserDTO UserDTO { get; set; }



    protected override async Task OnInitializedAsync()
    {
        UserDTO = await UserService.GetUserById(UserID);
    }

    /// <summary>
    /// Saves changed Roll from user.
    /// </summary>
    private async void SaveRoleChangesOnUser(int chosenOption)
    {

        if (inputFirstName == null || inputLastName == null)
        {

            inputFirstName = UserDTO.FirstName;
            inputLastName = UserDTO.LastName;
        }
        UserDTO.FirstName = inputFirstName;
        UserDTO.LastName = inputLastName;


        switch (chosenOption)
        {

            case 0:
                UserDTO.Role = this.UserDTO.Role;
                break;
            case 1:
                UserDTO.Role = Role.None;
                break;
            case 2:
                UserDTO.Role = Role.Student;
                break;
            case 3:
                UserDTO.Role = Role.Teacher;
                break;

            case 4:
                UserDTO.Role = Role.Admin;
                break;


            default:
                break;


        }

        if (UserService.ChangeUser(UserDTO) != null)
        {
            triggerAlert = true;
            await Task.Delay(2000);
            navManager.NavigateTo("/manageuser");
        }

    }

    private void goBacktoUM()
    {
        navManager.NavigateTo("/manageuser");
    }


}




