@page "/faq"
<body>
    <h1>FAQs</h1>
    <main>
        <details>
            <summary>How does the product work?</summary>
            <div class="faq__content">
                <p>
                    Learning programmes are made available on the learning platform.
                    learning programme consists of several courses and is always assigned to one main topic.
                </p>
            </div>
        </details>

        <details>
            <summary>How much does this product cost?</summary>
            <div class="faq__content">
                <p>
                    All e-learnings, online seminars and working materials
                    provided on the learning platform are free of charge.
                </p>
            </div>
        </details>

        <details>
            <summary>What is e-learning?</summary>
            <div class="faq__content">
                <p>
                    An e-learning (electronic learning) is a form of learning in which
                    learning material is made available in digital form. All e-learning is provided on a l
                    earning platform, in this case our learning platform.
                </p>
            </div>
        </details>

        <details>
            <summary>What do I do if I no longer want to use the product?</summary>
            <div class="faq__content">
                <p>
                    If you are dissatisfied with the product,
                    please contact our support team. We will be happy to help you further if
                    any inconveniences have occurred and to eliminate them. If you still do not see any use for the product,
                    you can delete your account at any time.
                </p>
            </div>
        </details>

        <details>
            <summary>Who do I contact if I have a problem?</summary>
            <div class="faq__content">
                <p>You can reach the support at any time by e-mail or contact form</p>
            </div>
        </details>


        <details>
            <summary>If the operation changes, how do I find out how it works now?</summary>
            <div class="faq__content">
                <p>
                    Should the operation change,
                    you will be notified in good time by us on the l
                    earning platform as well as by e-mail about new functions.
                </p>
            </div>
        </details>


        <details>
            <summary>How does the product provider use the information they want from me as a customer?</summary>
            <div class="faq__content">
                <p>
                    Your data will only be processed by us for your learning progress. I
                    f you have successfully completed a learning module,
                    you will receive a certificate confirming that you have passed the course.
                </p>
            </div>
        </details>


        <details>
            <summary>How can I find out more about the product?</summary>
            <div class="faq__content">
                <p>
                    If you have specific questions about the learning platform,
                    you can contact our support team at any time.
                    They will answer all your questions about the product.
                </p>
            </div>
        </details>


        <details>
            <summary>Are there things I need to take care of or watch?</summary>
            <div class="faq__content">
                <p>
                    Some courses have an expiry date,
                    which means that after a certain period of time they have to be refreshed and successfully passed again.
                    You will be reminded in good time when the course expires and you have to repeat it.
                    Furthermore, there are learning modules that are only activated if you have completed another module beforehand.
                    Make sure that you can only deal with these modules after you have completed them.
                </p>
            </div>
        </details>

        <details>
            <summary>Is my profile publicly viewable?</summary>
            <div class="faq__content">
                <p>
                    Your profile and data are not publicly viewable.
                </p>
            </div>
        </details>

        <details>
            <summary>Why didn't we release the product in the past?</summary>
            <div class="faq__content">
                <p>
                    The product was still in the development phase and due to the constant change of time we had to adapt requirements,
                    which took a lot of time. Our customers should only get the best possible product that fulfils all their wishes.
                </p>
            </div>
        </details>

        <details>
            <summary>How do we measure the success of the product?</summary>
            <div class="faq__content">
                <p>
                    On the use of the product, views of the platform, number of users, traffic, counter for saved baby lives
                </p>
            </div>
        </details>

        <details>
            <summary>How does the product scale in case it becomes a success?</summary>
            <div class="faq__content">
                <p>
                    The product is expanded with features that customers want
                </p>
            </div>
        </details>

        <details>
            <summary>How will the product improve the lives of customers? What data is the statement based on?</summary>
            <div class="faq__content">
                <ul>
                    <h3>Students</h3>
                    <li> <p>It allows for a much simplified and user-friendly interface to learn interactive essential skills.</p></li>
                    <li> <p>The current methods to ensure learning progress are very cumbersome and not designed to enable optimal learning progress.</p></li>
                </ul>

                <ul>
                    <h3>lecturing tutor</h3>
                    <li> <p> Our product allows flexibility in terms of time and space, which otherwise can only be guaranteed by the presence of a lecturoing tutor.</p></li>
                    <li> <p>It enables a much better exchange, as the use is always bidirectional.</p></li>
                </ul>
            </div>
        </details>

        <details>
            <summary>Why is the client issue important right now?</summary>
            <div class="faq__content">
                <ul>
                    <h3>Students</h3>
                    <li> <p>It is very difficult at the moment to be properly trained by foreign professionals.</p></li>
                    <li> <p>The skills to be acquired are urgently needed to save human lives.</p></li>
                </ul>

                <ul>
                    <h3>lecturing tutor</h3>
                    <li> <p>Here, the skills are available but the transfer of them is much more difficult due to the distance.</p></li>
                </ul>
            </div>
        </details>
    </main>
</body>
@code {

}
