@page "/"

<h1><font color="green" size="16"><b>Welcome to JimmaNeo ;)</b></font></h1>

<p><b>The ultimate learning platform! <br>Improve your skills and deepen your knowledge. </b></p>


@*  <map name="boardmap">
  <area shape="rect" coords="34,44,270,350" alt="test1"  href="/Images/LMU_Team_F_Storyboard-Vesion_1.2-002.png">
  <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
  <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm">
</map>
*@

<br>
<br>
<p><b>Take a look at our vision:</b></p>
<video id="myVideo" autoplay muted controls width="600" height="300">
 <source src="/Images/storyboard.mp4" type="video/mp4" >
  Your browser does not support HTML5 video.
</video>
<br><br><br>

<p><font size="16"><a href ="/login">Let´s start now!</a></font></p>


<div style="box">
<p >A special exchange platform for teachers and students that helps to improve the medical care for newborns.

The brand new application for "JimmaNeo" promises<br> a mobile, fast and flexible acquisition of the topics of 
neonatology for the employees in order to reduce the death rate of newborns in the long term.<br>

The project aims to reduce the high death rate of newborns in Ethiopia. Currently it is 5.8% and is around twenty 
times higher than in Germany.
</p>
<br>
<p>
Eduardo Holmes a male nurse in Jimma, Ethiopia:<br>
“There are simply not enough well-trained staff members here to provide adequate medical care for all the newborns. <br>
The application as part of the JimmaNeo project, that offers a good opportunity to deepens the teamwork between the staff team and train them in the specifics fields. "
</p>
<br>
<p>
    This type of knowledge exchange gives the staff members the oppurtunity  to train, improve their knowledge <br>
    and skills in the field of neonatology. The sources of knowledge can be made freely available and accessible for interested specialists.<br>
    The interested specialists in neonatology have the opportunity through this e-learning platform to acquire<br>
    medical topics in the form of lessons with subsequent tests. The focus here is on the targeted reflection<br> of the test results
    in order to close any knowledge gaps that arise. <br>To furhter enhanced the reflection process, a feature is implemented for more detailed explanation, in the form of tailor-made
    explanations and links to the information sources.
</p>
<br>
<p>George Micheals, New Father and Industrial Employee:<br>
"My daughter Aba fell ill shortly after she was born. Without enough knowledge in neonatology, the hospital <br>
would not have been able to do anything for my daughter. Thanks to the support of the international cooperation <br>
within the framework of the JimmaNeo project, knowledge and training is made easily accessible to the specialist staff in neonatology. "<br>
<br>
So that many newborns like Aba can be saved in the future, projects like the JimmaNeo project must gain awareness. <br>
Please report about this project in your environment. Further information can be found at URL: https://www.lmu-klinikum.de.</p>
</div>

@*  <video src="/Images/storyboard.mp4"></video>*@






@code{



}


