@page "/"
@*<h1><font color="blue" size="16"><b>Welcome to JimmaNeo ;)</b></font></h1>

    <p><b>The ultimate learning platform! <br>Improve your skills and deepen your knowledge. </b></p>


    @*  <map name="boardmap">
      <area shape="rect" coords="34,44,270,350" alt="test1"  href="/Images/LMU_Team_F_Storyboard-Vesion_1.2-002.png">
      <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
      <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm">
    </map>
    *

    <br>
    <br>
    <div >
    <p><b>Take a look at our vision:</b></p>
    <video id="myVideo" autoplay muted controls width="600" height="300">
     <source src="/Images/storyboard.mp4" type="video/mp4" >
      Your browser does not support HTML5 video.
    </video>
    <br><br><br>
    </div>
    <p><font size="16"><a href ="/login">Let´s start now!</a></font></p>


    <div style="box">

    <p><b>What is JimmaNeo?</b></p>
    <p >A special exchange platform for teachers and students that helps to improve the medical care for newborns.

    The brand new application for "JimmaNeo" promises<br> a mobile, fast and flexible acquisition of the topics of
    neonatology for the employees in order to reduce the death rate of newborns in the long term.<br>

    The project aims to reduce the high death rate of newborns in Ethiopia. Currently the percentage is 5.8% and it is around twenty
    times higher than in Germany.
    </p>
    <br>
    <p>
    Eduardo Holmes a male nurse in Jimma, Ethiopia:<br>
    “There are simply not enough well-trained staff members here to provide adequate medical care for all the newborns. <br>
    The application as part of the JimmaNeo project, that offers a good opportunity to deepens the teamwork between the staff team and train them in the specifics fields. "
    </p>
    <br>
    <p>
        This type of knowledge exchange gives the staff members the oppurtunity  to train, improve their knowledge <br>
        and skills in the field of neonatology. The sources of knowledge can be made freely available and accessible for interested specialists.<br>
        The interested specialists in neonatology have the opportunity through this e-learning platform to acquire<br>
        medical topics in the form of lessons with subsequent tests. The focus here is on the targeted reflection<br> of the test results
        in order to close any knowledge gaps that arise. <br>To furhter enhanced the reflection process, a feature is implemented for more detailed explanation, in the form of tailor-made
        explanations and links to the information sources.
    </p>
    <br>

    <p><b>Experience:</b></p>
    <p>George Micheals, New Father and Industrial Employee:<br>
    "My daughter Aba fell ill shortly after she was born. Without enough knowledge in neonatology, the hospital <br>
    would not have been able to do anything for my daughter. Thanks to the support of the international cooperation <br>
    within the framework of the JimmaNeo project, knowledge and training is made easily accessible to the specialist staff in neonatology. "<br>
    <br>
    <b>Support:</b><br>
    So that many newborns like Aba can be saved in the future, projects like the JimmaNeo project must gain awareness. <br>
    Please report about this project in your environment. Further information can be found at <a href="https://www.lmu-klinikum.de.">LMU</a></p>
    </div>
*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
</head>
<body id="page-top">

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">JimmaNeo</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">The ultimate Learnig platform to improve your skills and deepen your knowledge</p>
                    <div>
                        <p class="text-white-75 mb-5"><b>Take a look at our vision</b></p>
                        <video id="myVideo" autoplay muted controls width="600" height="300">
                            <source src="/Images/storyboard.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- About-->
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">What is JimmaNeo ?</h2>
                    <hr class="divider divider-light" />
                    <div>
                        <p class="text-white mt-0">
                            A special exchange platform for teachers and students that helps to improve the medical care for newborns.

                            The brand new application for "JimmaNeo" promises<br> a mobile, fast and flexible acquisition of the topics of
                            neonatology for the employees in order to reduce the death rate of newborns in the long term.<br>

                            The project aims to reduce the high death rate of newborns in Ethiopia. Currently the percentage is 5.8% and it is around twenty
                            times higher than in Germany.
                        </p>
                        <br>
                        <p class="text-white mt-0">
                            Eduardo Holmes a male nurse in Jimma, Ethiopia:<br>
                            “There are simply not enough well-trained staff members here to provide adequate medical care for all the newborns. <br>
                            The application as part of the JimmaNeo project, that offers a good opportunity to deepens the teamwork between the staff team and train them in the specifics fields. "
                        </p>
                        <br>
                        <p class="text-white mt-0">
                            This type of knowledge exchange gives the staff members the oppurtunity  to train, improve their knowledge <br>
                            and skills in the field of neonatology. The sources of knowledge can be made freely available and accessible for interested specialists.<br>
                            The interested specialists in neonatology have the opportunity through this e-learning platform to acquire<br>
                            medical topics in the form of lessons with subsequent tests. The focus here is on the targeted reflection<br> of the test results
                            in order to close any knowledge gaps that arise. <br>To furhter enhanced the reflection process, a feature is implemented for more detailed explanation, in the form of tailor-made
                            explanations and links to the information sources.
                        </p>
                        <br>

                        <p class="text-white mt-0"><b>Experience:</b></p>
                        <p class="text-white mt-0">
                            George Micheals, New Father and Industrial Employee:<br>
                            "My daughter Aba fell ill shortly after she was born. Without enough knowledge in neonatology, the hospital <br>
                            would not have been able to do anything for my daughter. Thanks to the support of the international cooperation <br>
                            within the framework of the JimmaNeo project, knowledge and training is made easily accessible to the specialist staff in neonatology. "<br>
                            <br>
                        </p>
                            <p class="text-white mt-0" <b>Support:</b><br>
                            So that many newborns like Aba can be saved in the future, projects like the JimmaNeo project must gain awareness. <br>
                            Please report about this project in your environment. Further information can be found at <a href="https://www.lmu-klinikum.de.">LMU</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!-- Call to action-->
    <section class="page-section bg-white text-dark">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">What are you waiting for ?</h2>
            <a class="btn btn-primary btn-xl" href="/register">Register Now!</a>
        </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Let's Get In Touch</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Any Question left ? Feel free to contact us!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
                            <label for="inputName">Full name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label for="inputEmail">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPhone" type="tel" placeholder="(123) 456-7890" />
                            <label for="inputPhone">Phone number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="inputMessage" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+1 (555) 123-4567</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - JimmaNeo</div></div>
    </footer>
</body>
</html>
