@page "/login"
@inject Services.UserBackendAccessService UserService
@using SEIIApp.Shared;

<h3>Login</h3>


<div class="card" style="width:25rem" border="#FFFFFF" >
    <div class="card-body">
      
        <p><font color="red">@msg</font></p>
         <label for="uname">Username:</label><br>
        <input type="text" id="uname"  size="30" name="uname" @bind="inputName"><br><br>
       
        <label for="pw">Password:</label><br>  
        <input type="password" id="pw" size="30" maxlength="20" required @bind="inputPW"><br><br>

            <button type="button" class="btn btn-primary" @onclick="PerformLogin">Login</button>
            <button type="button" class="btn btn-primary">Cancel</button><br><br>
           <a href="/register" align="center">You don't have an account yet? <br>Register here</a> <br>
            <NavLink class="nav-link" href="manageuser">Admin</NavLink>
    
    </div>

</div>


@code {

    public static UserDTO User = null;

    public string inputName { get; set; }

    public string inputPW { get; set; }

    public string msg { get; set; }

    private async void PerformLogin()
    {
        var data = await UserService.LoginUser(inputName, inputPW);
        User = data;

        if (User != null)
        {
            msg = $"Hello {User.FirstName} {User.LastName}. You are successfully logged in.";
        }
        else
        {
            msg = "Ohps.. Something went wrong. Maybe your password or Username is incorrect!";
        }
    }




}
