@page "/login"
@inject Services.UserBackendAccessService UserService
@inject NavigationManager NavigationManager
@using SEIIApp.Shared;

<h3>Login</h3>


<div class="card" style="width:25rem" border="#FFFFFF" >
    <div class="card-body">
      
        <p><font color="red">@msg</font></p>
         <label for="uname">Username:</label><br>
        <input type="text" id="uname"  size="30" name="uname" @bind="inputName"><br><br>
       
        <label for="pw">Password:</label><br>  
        <input type="password" id="pw" size="30" maxlength="20" required @bind="inputPW"><br><br>


        <div style="float: left;">
            <button type="button" class="btn btn-primary" @onclick="PerformLogin">Login</button>
            <NavLink href="/"><button type="button" class="btn btn-primary">Cancel</button></NavLink><br>
            

        <div>
           <NavLink href="/register">You don't have an account yet?<br> Register now here!</NavLink> <br><br>
            <NavLink href="manageuser">Admin</NavLink>
            </div>
        </div>
    </div>

</div>


@code {

    public static UserDTO User = null;

    public string inputName { get; set; }

    public string inputPW { get; set; }

    public string msg { get; set; }

    private async void PerformLogin()
    {
        var data = await UserService.LoginUser(inputName, inputPW);
        User = data;

        if (User != null)
        {
            switch((int)User.Role) {

             case 0: //none
                    msg="U have no role!";
                    break;
                    
            case 1: //Student
                    
                     NavigationManager.NavigateTo("/welcomestudent");
                    break;
            case 2: //Teacher
                    
                    NavigationManager.NavigateTo("/welcometeacher");
                    break;
            case 3: //Admin
                    NavigationManager.NavigateTo("/manageuser");
                    
                    break;

            default:           
                    msg ="No accepted role!";
                    break;         
        }          

        }
        else
        {
            msg = "Ohps.. Something went wrong. Maybe your password or Username is incorrect!";
        }

    }


}
