@page "/login"
@inject UserRefreshService UserRefresh
@inject Services.UserBackendAccessService UserService
@inject NavigationManager NavigationManager
@inject Services.UserServicee MyUserService


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<div class="container-fluid" @onkeydown="@Enter">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h2 class="login-heading mb-4">Welcome back<br /> to the Login!</h2>
                            <br />
                            <form>
                                <!--Alert-->
                                @if (triggerAlert)
                                {
                                    <div class="alert">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <strong>Something went wrong.<br /> Please check your Username and Password!</strong>
                                    </div>
                                    <!--END Alert-->
                                }
                                <!--Login input-->
                                <div class="input-group">
                                    <input type="text" style='width:100%' required @bind-value="inputName" @bind-value:event="oninput">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="hoverlabel">Username</label>
                                </div>

                                <div class="input-group">
                                    <input type="password" style='width:100%' required @bind-value="inputPW" @bind-value:event="oninput">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="hoverlabel">Password</label>
                                </div>
                                <br />

                            </form>
                            <form>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>

                                <button type="button" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 signIN" @onclick="PerformLogin">Sign-IN</button>
                                <!-- END Login input-->
                                <div class="text-center">
                                    <!-- Link Register-->
                                    <a class="small" href="/register">You don't have an account yet?<br> Register here!</a>
                                </div>
                                <!-- END Link Register-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public string inputName { get; set; }

    public string inputPW { get; set; }

    private bool triggerAlert = false;


    /// <summary>
    /// Login process with specific user role.
    /// </summary>
    private async Task PerformLogin()
    {
        var data = await UserService.LoginUser(inputName, inputPW);
        MyUserService.User = data;

        if (MyUserService.User != null)
        {
            switch ((int)MyUserService.User.Role)
            {

                case 0: //none
                    break;

                case 1: //Student

                    NavigationManager.NavigateTo($"/welcomestudent/{MyUserService.User.UserId}");
                    UserRefresh.LoggedIn = true;
                    break;

                case 2: //Teacher

                    NavigationManager.NavigateTo($"/welcometeacher");
                    UserRefresh.LoggedIn = true;
                    break;

                case 3: //Admin
                    NavigationManager.NavigateTo("/manageuser");
                    UserRefresh.LoggedIn = true;

                    break;

                default:
                    break;
            }

        }
        else
        {
            triggerAlert = true;
            StateHasChanged();
            await Task.Delay(2000);
            triggerAlert = false;

        }

    }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {

            await PerformLogin();

        }
    }

}

