@page "/login"
@inject Services.UserBackendAccessService UserService
@inject NavigationManager NavigationManager
@inject Services.UserServicee MyUserService
@using SEIIApp.Shared;


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<div class="container-fluid" @onkeydown="@Enter">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back<br /> to the Login!</h3>
                            <p><font color="red">@msg</font></p><br />
                            <form>
                                <div class="input-group">
                                    <input type="text" style='width:100%' required  @bind-value="inputName" @bind-value:event="oninput">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="hoverlabel">Username</label>
                                </div>

                                <div class="input-group">
                                    <input type="password" style='width:100%' required @bind-value="inputPW" @bind-value:event="oninput">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="hoverlabel">Password</label>
                                </div>
                                <br />

                            </form>
                            <form>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button type="button" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 signIN"  @onclick="PerformLogin">Sign-IN</button>
                                <div class="text-center">
                                    <a class="small" href="/register">You don't have an account yet?<br> Register here!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

    public string inputName { get; set; }

    public string inputPW { get; set; }

    public string msg { get; set; }

    private async Task PerformLogin()
    {
        var data = await UserService.LoginUser(inputName, inputPW);
        MyUserService.User = data;

        if (MyUserService.User != null)
        {
            switch ((int)MyUserService.User.Role)
            {

                case 0: //none
                    msg = "U have no role!";
                    break;

                case 1: //Student

                    NavigationManager.NavigateTo($"/welcomestudent/{MyUserService.User.UserId}");
                    break;
                case 2: //Teacher

                    NavigationManager.NavigateTo($"/welcometeacher/{MyUserService.User.UserId}");
                    break;
                case 3: //Admin
                    NavigationManager.NavigateTo("/manageuser");

                    break;

                default:
                    msg = "No accepted role!";
                    break;
            }

        }
        else
        {
            msg = "Oops.. Something went wrong. Please check your Username and Password!";
        }

    }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {

            await PerformLogin();

        }
    }

}

