/* The alert message box */
.alert {
    padding: 20px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;    
    margin-bottom: 15px;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: darkred;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }


.table-title {
    padding-bottom: 15px;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

.text-dark {
    color: #212529 !important;
}



