
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #009a10;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

/* The alert message box */
.alert {
    padding: 20px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    margin-bottom: 15px;
}
