@page "/welcomestudent"
@inject NavigationManager NavigationManager
@using static SEIIApp.Client.Pages.Login;
@using SEIIApp.Shared;


<h3>WelcomeStudent</h3>
@{

if (User != null && User.Role == Role.Student)
    {

<button type="button" class="btn btn-outline-primary" @onclick="() => Logout()">Logout</button>

 }

    else
    {
        <p>You are not allowed to see this!</p>
    }
    }

@code {
    public int[] Roles{get; set;}



    
    private void Logout() {

        Login.User = null;
        NavigationManager.NavigateTo("/login");
 
    }

}
