body {
    background-color: #fff;
    font-family: Arial;
}

.divtodo {
    border-style: solid;
    border-color: lightgrey;
    height: auto;
    width: fit-content;
}

.tablenews {
    border-style: solid;
    border-color: lightgrey;
    height: auto;
    width: 80%;
    position: absolute;
}

.tableaverage {
    border-style: solid;
    border-color: lightgrey;
    width: 80%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: forestgreen;
}

.img1 {
    width: 500px;
    text-align: center;
    color: white;
    padding-bottom: 5px;
    border-style: solid;
    border-color: lightgrey;
}

.card .card-header .card-body{
    max-width: 600px;
    align-content: center;
}

.btn {
    margin: 10px;
}

.container{
    max-width: 600px;
}

