@inject AppState AppState
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UserServicee MyUserService
@using SEIIApp.Shared;


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
        <div class="main">
            <div class="top-row px-4">

            @if (MyUserService.User == null)
            {
                <div>
                <button type="button" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 logIn" @onclick="() => Login()">Login</button>
            </div>
            } else {
            <button type ="button" class="btn btn-lg btn-primary btn-block btn-logout text-uppercase font-weight-bold mb-2 logIn"  @onclick="() => Logout()">Logout</button>
          }
        </div>

            <div class="content px-4">
                @Body
            </div>

        </div>
    </div>
   
   
    
@code{

    private bool collapseNavMenu = true;
    private bool expandSubMenu;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {

        MyUserService.User = null;
        expandSubMenu = false;
        AppState.LoggedIn = false;
        NavigationManager.NavigateTo("/login");


    }


    private void Login()
    {

        NavigationManager.NavigateTo("/login");

    }


}

